@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/

body{
	text-align: center;
	font-family: helvetica;
	background-color: #fefefe;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
}

#content {
	min-width: 20em;
	max-width: 30em;
	margin: auto;
	position:relative;
	text-align: left;
}